.about {
    width: 100%;
    background-color: $order-background-color;
    padding: 46px 15px;

    @include for-large-up {
        display: flex;
        justify-content: space-between;
        padding: 77px 130px 76px 130px;
    }
}

.article {
    @include for-large-up {
        width: 555px;
    }


    &:last-child {
        margin-top: $unit * 2;

        @include for-large-up {
            margin-top: 0;
        }
    }

    &__title {
        margin: 0;
        font-weight: 700;
        font-size: 22px;
    }

    &__text {
        line-height: 32px;
        font-size: 22px;
        margin-bottom: 0;
        margin-top: $unit * 0.6;
    }
}
