@import "variables";
@import "breakpoints.scss";

.audience {
    background-color: $background-color-audience;
    margin: auto;
    padding: 50px 15px;

    @include for-large-up {
        width: 1400px;
        padding: 108px 130px;
        margin-top: $unit * 4;
    }


    &__content {
        @include for-large-up {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &__title {
        margin: 0;
        font-weight: 700;
        font-size: 22px;
        line-height: 34px;
        text-align: center;

        @include for-large-up {
            width: 555px;
        }
    }

    &__subtitle {
        font-weight: 700;
        margin: 0;
        margin-top: 17px;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.36px;
        text-align: center;

        @include for-large-up {
            font-size: 56px;
            line-height: 56px;
            margin-top: $unit * 2.4;
            letter-spacing: -0.5px;
            max-width: 555px;
        }
    }

    &__description {
        margin: 0;
        margin-top: $unit * 1.8;
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        max-width: 290px;

        @include for-large-up {
            margin-top: $unit * 3;
            max-width: 555px;
        }
    }

    &__button {
        margin-top: $unit * 3;

        @include for-large-up {
            display: flex;
            justify-content: center;
            margin-top: $unit * 3.4;
        }
    }

    &__action-btn {
        width: 100%;

        @include for-large-up {
            flex-shrink: 0;
            max-width: 160px;
        }
    }


&__pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: $unit * 2.5;

    @include for-large-up {
        flex-direction: row;
        justify-content: center;
        margin-top: $unit * 9.5;
    }


    &_item {
        display: flex;
        margin: 0;
        margin-top: $unit * 1.5;
        background-color: #FFFFFF;
        font-size: 24px;
        font-weight: 700;
        color: #2B292D;
        border-radius: 2px;
        width: 290px;
        height: 300px;
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
        align-items: center;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;

        &:hover {
            background-color: #3141C5;
            color: #FFFFFF;
        }

        @include for-large-up {
            margin-left: $unit * 3;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}
}