$main-color: #2B292D;
$unit: 10px;
$header-color: #F3C6BD;
$button-color: #3040C4;
$border-color: rgba(43, 41, 45, 0.2);
$text-color: rgba(43, 41, 45, 0.6);
$color-text-blue: #3142C6;
$border-color-light: #E3E3E3;
$background-color-audience: #00A1C6;
$order-background-color: #F4F5F7;
