@import "variables.scss";

.action-button {
    width: 160px;
    height: 48px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    background-color: $button-color;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.hide{
    &_desktop {
    @include for-large-up {
        display: none;
      }
    }

    &_mobile {
    @include for-large-down {
        display: none;
      }
    }
}
button.button {
    @include for-large-down {
        color: #000;
    }
}
