@import "variables.scss";

.headline {
    width: 100%;

    @include for-large-up {
        position: relative;
        width: 1140px;
        margin: auto;
        margin-top: $unit * 8.4;
        display: flex;
       
    }

    &__contant {
        margin: 35px 15px 33px 15px;

        @include for-large-up {
            position: absolute;
            z-index: 1;
            margin: 0;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -0.3125px;
        margin: 0;

        @include for-large-up {
            width: 754px;
            height: 165px;
            font-size: 80px;
            line-height: 78px;
            letter-spacing: 0.5px;
            margin: 0;
        }
    }

    &__description {
        margin-bottom: 0;
        margin-top: $unit * 2.4;
        line-height: 34px;
        font-size: 24px;

        @include for-large-up {
            width: 456px;
            height: 102px;
            margin-top: $unit * 3.4;
            line-height: 34px;
            font-size: 24px;
            z-index: 1;
        }
    }

    &__actions {
        margin-top: $unit * 3;

        @include for-large-up {
            margin-top: $unit * 5.8;
            display: flex;
        }
    }

    &__button {
        margin-top: $unit * 1.5;
        width: 158px;
        height: 48px;
        font-weight: 700;
        font-size: 18px;
        color: $button-color;
        background-color: #fff;
        border: none;
        border-radius: 2px;

        @include for-large-up {
            margin-left: $unit;
            margin-top: 0;
        }
    }

    &__banner {
        width: 100%;
        margin-bottom: $unit * 3.6;

        @include for-large-up {
            position: relative;
            right: -105px;
            top: 0;
            height: 448px;
            width: 796px;
            margin-left: auto;
        }
    }

    &__action-btn {
        @include for-large-down {
            width: 100%;
        }
    }
}
