@import "variables.scss";

.top__section {
    background-color: $header-color;

    @include for-large-up {
        background-color: $header-color;
        padding-top: 39px;
    }
}

.header {
    display: flex;
    height: 64px;
    width: 100%;
    background-color: #fff;

    @include for-large-up {
        background-color: $header-color;
        margin: auto;
        width: 1140px;
        height: 62px;
        display: flex;
    }


    &__button {
        display: none;

        @include for-large-up {
            display: block;
        }
    }

    &__menu-button {
        width: 58px;
        border: none;
        border-left: 1px solid #00000026;
        height: 100%;
        margin-left: auto;
        background: transparent;

        @include for-large-up {
            display: none;
        }
    }

    &__menu-icon {
        width: 18px;
        height: 13px;
        display: inline-block;
        background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
    }

    .logo__discription {
        display: none;

        @include for-large-up {
            display: block;
        }
    }
}

.navigation {
    display: none;

    @include for-large-up {
        display: block;
        margin-left: auto;
        margin-top: $unit * 0.7;
        margin-right: $unit * 7.5;
    }


    &__item {
        color: $main-color;
        text-decoration: none;
        line-height: 25px;
        font-size: 18px;
        margin-right: $unit * 5;

        &:last-child {
            margin-right: 0;
        }
    }

    &__item_selected {
        font-weight: 700;
    }

    &__arrow {
        background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
        display: inline-block;
        height: 5px;
        width: 8px;
        margin-left: $unit * 1.1;
    }
}

.logo {
    display: flex;

    &__image {
        height: 48px;
        width: 48px;
        margin-right: $unit * 1.3;

        @include for-large-up {
            height: 60px;
            width: 60px;
            margin-right: $unit * 1.5;
        }
    }

    &__name {
        font-size: 20px;
        line-height: 25px;
        font-weight: 700;
    }

    &__discription {
        font-size: 18px;
        line-height: 25px;
        color: $main-color;
        opacity: 0.6;

        @include for-large-up {
            display: block;
            font-size: 18px;
            line-height: 25px;
            color: $main-color;
            opacity: 0.6;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
