@import "breakpoints.scss";
@import "variables.scss";

.order {
    padding: 15px;
    background-color: $order-background-color;

    @include for-large-up {
        padding: 73px 0 72px 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    &__details {
        max-width: 555px;
    }

    &__image {
        max-width: 200px;
        display: block;
        margin: auto;
        margin-top: 35px;
        margin-bottom: 40px;

        @include for-large-up {
            max-width: 269px;
            margin: 0;
            margin-right: $unit * 12.1;
        }
    }

    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.36px;
        margin: 0;

        @include for-large-up {
            text-align: start;
            margin-top: $unit * 3.3;
        }
    }

    &__description {
        width: 290px;
        height: 167px;
        font-size: 22px;
        line-height: 32px;
        margin: 0;
        margin-top: $unit * 1.8;

        @include for-large-up {
            width: 555px;
            height: 64px;
        }
    }

    &__forms {
        @include for-large-up {
            display: flex;
            margin-top: $unit * 2.6;
        }
    }

    &__email {
        margin-top: $unit * 4;
        background-color: #FFFFFF;
        border: 1px solid $border-color;
        border-radius: 2px;
        height: 48px;
        width: 100%;
        text-align: center;
        font-size: 18px;
        line-height: 13px;

        @include for-large-up {
            margin-top: 0;
        }

        &::placeholder {
            color: $main-color;
        }
    }

    &__button {
        margin-top: $unit * 1.2;
        width: 100%;

        @include for-large-up {
            margin-top: 0;
            margin-left: $unit;
            flex-shrink: 0;
            width: 160px;
        }
    }

    &__terms {
        font-size: 14px;
        line-height: 22px;
        color: $text-color;
    }

    &terms-links {
        color: $color-text-blue;
    }
}